/* hack just to avoid this widget button from being overlapped by other elements */
.widget-admin > .button {
	z-index: 999999;
}

/* x-latest-gallery4-post-with-image */
@media (max-width:  970px) {
	
	.lower_posts_wrapper .inner .left {
		width: 100%;
	}
	
	.lower_posts_wrapper .inner .left .item_4 {
		display: none;
	}
	
	.lower_posts_wrapper .inner .left_item {
		width: 32.8% !important;
		margin: 0 !important;
		margin-left: 0.4% !important;
	}
	
	.top-wrapper .top ul {
		display: none;
	}
	
	.top-wrapper {
		height: 7px;
	}
	
	.header .main-menu, .header .search-container {
		display: none;
	}
	
	.header .logo {
		width: 60%;
		text-align: center;
	}
	.layout .header-wrapper {
		padding: 10px 0;
	}
	.header .logo img {
		height: 40px;

		padding: 5px 0;
	}
	
	.header .mobile-menu-button {
		display: block;
	}



	#gallery_4_search_forum_text {
		background: #323637;
		width: 75%;
		padding: 2px;
		color: #ffffff;
	}
	
	.search_icon {
		max-width: 25%;
		text-align: right;
	}	
	
}


@media (max-width: 640px) {
	.lower_posts_wrapper .inner .left .item_3 {
		display: none;
	}
	
	.lower_posts_wrapper .inner .left_item {
		width: 49.4% !important;
		margin: 0 !important;
		margin-left: 0.4% !important;
	}

	
	.footer .footer-logo, .footer .footer-menu {
		display: none;
	}
	
	.footer .footer-right {
		clear: left;
		width: 100%;
		text-align: center;
	}
	
}