/* x-latest-gallery4-post-with-image */
@media (max-width:  970px) {


	.gallery4-full-image.post_info {
		display: none;
	}
	
	.gallery4-full-image {
		width: 33.333333333333%;
	}
	
	.top-wrapper .top ul {
		display: none;
	}
	
	.top-wrapper {
		height: 7px;
	}
	
	.header .main-menu, .header .search-container {
		display: none;
	}
	
	.header .logo {
		width: 60%;
		text-align: center;
	}
	.layout .header-wrapper {
		padding: 10px 0;
	}
	.header .logo img {
		height: 40px;
		width: 140px;
		padding: 5px 0;
	}
	
	.header .mobile-menu-button {
		display: block;
	}
	
	.post-full-image-container span.image-menu-name {
		width: 16.6666666667%;
	}
	
	.gallery4-with-image-2 {
		width: 33.33%;
	}
	
	.gallery4-with-image-2.post_4, 	.gallery4-with-image-2.post_5 {
		display: none;
	}
	
	.latest-comments-wrapper .latest-comments {
		width: 33.33%;
	}
	
	.latest-comments-wrapper .latest-comments.comment_4 {
		display: none;
	}

	#gallery_4_search_forum_text {
		background: #323637;
		width: 75%;
		padding: 2px;
		color: #ffffff;
	}
	
	.search_icon {
		max-width: 25%;
		text-align: right;
	}	
	
}

@media ( max-width: 845px) {
	.post-full-image-container span.image-menu-name {
		width: 20%;
	}
}

@media ( max-width: 720px) {
	.post-full-image-container span.image-menu-name {
		width: 25%;
	}
}

@media (max-width: 640px) {


	.image2-menu-name img {
		display: none;
	}
	
	.post-with-image-2-wrapper .image2-menu-wrapper {
		height: 35px;
		overflow: hidden;
		background: #ffb848;
	}
	
	.post-with-image-2-wrapper .image2-menu-name .menu2_name {
		position: relative;
		top: 10px;
	}
	
	.image-2-menu {
		width: 90%;
		float: left;
	}

	
	.post-with-image-2-wrapper .image2-menu-name {
		height: 35px;
		width: 25%;
	}
	
	.image-2-previous, .image-2-next {
		display: block;
	}	
	
	.latest-comments-wrapper .latest-comments {
		width: 50%;
	}
	
	.latest-comments-wrapper .latest-comments.comment_3 {
		display: none;
	}

	.gallery4-with-image-2 {
		width: 50%;
	}
	
	.gallery4-with-image-2.post_3 {
		display: none;
	}
	

	
	.gallery4-full-image {
		width: 50%;
	}	

	.gallery4-full-image.post_info {
		display: block;
	}

	
	.footer .footer-logo, .footer .footer-menu {
		display: none;
	}
	
	.footer .footer-right {
		clear: left;
		width: 100%;
		text-align: center;
	}
	
}