/* Content */
.layout .content-wrapper {
	background: #f4f4f4;
}

.layout .content-wrapper .content {

}

.layout .content-wrapper .banner {
	width:100%!important;
	max-width:inherit;
}


.content .post-with-image-wrapper {
	padding-bottom: 10px;
	
}

.post-with-image {
	max-width: 970px;
	margin: 0 auto;
}

.content .post-full-image-wrapper {
	padding: 10px 0;
}

.content .post-full-image-wrapper .inner {
	max-width: 970px;
	margin: 0 auto;
	
}

.content .post-with-image-2-wrapper{

}


.post-with-image-2-wrapper .inner {
	max-width: 970px;
	margin: 0 auto;
}

.image-2-menu {
	position: relative;
}

.image2-menu-wrapper {
	margin-bottom: 7px;
}

.content .middle-banner-wrapper .middle-banner {
	max-width: 970px;
	margin: 0 auto;
}

.content .middle-banner-wrapper img {
	width: 100%;
}


.content .latest-comments-wrapper {
	margin-bottom: 10px;
}

.latest-comments-wrapper .inner {
	max-width: 970px;
	margin: 0 auto;
}


.content .panel-titles {
	font-size: 20px;
	padding: 15px 10px;
	font-weight: bold;
}

/**lower_posts_wrapper**/
.lower_posts_wrapper{
	max-width:970px;
	margin:auto;
	
}

.lower_posts_wrapper .inner .left  {

}

.lower_posts_wrapper .inner .left .left_item{
	width: 24.6%;
	float:left;	
}

.lower_posts_wrapper .inner .left .left_item.item_1, .lower_posts_wrapper .inner .left .left_item.item_2, .lower_posts_wrapper .inner .left .left_item.item_3 {
	margin-right: 0.4%;
}
