/* HEAD */


/* TOP */
.layout .top-wrapper {
	background-color: #fd7f45;
	border-top: solid 1px #aaaaab;
}

.layout .top {
	max-width: 970px;
	margin: 0 auto;
}

.layout .top, .layout .top a {
	color: #ffffff;
}

.layout .top ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

.layout .top ul li {
	float: left;
}

.layout .top ul li a {
	display: inline-block;
	padding: 8px 20px;
	color: #fffbfb;
	text-decoration: none;
	font-size: 11px;
}

.layout .top ul li.last_item a {
	padding-right: 0;
}

/* Header */
.layout .header-wrapper {
	padding: 20px 0;
	-moz-box-shadow: 0 1px 10px -2px #cecece;
    -webkit-box-shadow: 0 1px 10px -2px #cecece;
    box-shadow: 0 1px 10px -2px #cecece;
	border-bottom: solid 1px #cecece;
	background: #ffffff;
}

.layout .header-wrapper .header {
	max-width: 970px;
	margin: 0 auto;
}

/* Header - Logo */
.header .logo {
	width: 20%;
	float: left;
}

.header .logo img {
	width: 75%;
}


/* Header - Main Menu */
.header .main-menu {
	float: left;
	width: 60%;
}

.header .main-menu ul {
	list-style-type: none;
}

.header .main-menu ul li {
	float: left;
	width: 12.5%;
	text-align: center;
}

.header .main-menu ul li:hover a {
	color: #ff7334;
}

.header .main-menu ul li.selected a {
	font-weight: bold;
	color: #ff7334;
}

.header .main-menu ul li img {
	margin-bottom: 10px;
	height: 24px;
	width: 24px;
}

.main-menu a {
	display: block;
	text-decoration: none;
}

/* Header - Mobile Menu */
.header .mobile-menu-button {
	float: left;
	width: 20%;
	cursor: pointer;
	display: none;
}


.header .mobile-menu-button .inner {
	padding: 9px 0 0 15px ;
}

.header .mobile-menu-button img {
	width: 34px;
	height: 35px;
}

.mobile-menu ul {
	list-style: none;
	background: #57575c;
}

.mobile-menu ul li {
	padding: 15px 25px;
	background: #68686d;
	border-bottom: solid 1px #45454a;
}

.mobile-menu ul li img {
	margin-right: 10px;
}

.mobile-menu ul li.selected {
	background: #fd7f45;
	margin-bottom: 15px;
}

.mobile-menu ul li a {
	color: #fefaf8;
	font-size: 15px;
}

.mobile-menu ul li.home-button {
	padding: 30px;
	background: #45444a;
}

.mobile-menu ul li.selected a, .mobile-menu ul li.home-button a {
	font-weight: bold;
}

/* SEARCH */
.search-container {
	margin-top: 5px;
	width: 20%;
	float: left;
	text-align: center;
}

.search-container .search {
	border-radius: 15px;
	background: #f5f5f5;
	max-width: 220px;
	-moz-box-shadow: inset 0 1px 3px #cecece;
	-webkit-box-shadow: inset 0 1px 3px #cecece;
	box-shadow: inset 0 1px 3px #cecece;
	padding: 2px;
	margin-left: 10px;
}

#gallery_4_search_forum_text {
	padding: 5px;
	background: #f5f5f5;
	border: solid 1px transparent;
}

.search-mobile {
	margin-top: 20px;
	background: #323637;
	border-radius: 15px;
	-moz-box-shadow: inset 0 1px 3px #202022;
	-webkit-box-shadow: inset 0 1px 3px #202022;
	box-shadow: inset 0 1px 3px #202022;
	padding: 5px;
	max-width: 140px;
}

/* MOBILE MENU */
.mobile-menu-wrapper .login-logout {
	text-align: center;
}

.mobile-menu-wrapper .login-logout > div {
	border: solid 1px #28282c;
	background: #505055;
	width: 120px;
	padding: 10px 20px;
	text-align: center;
	margin: 10px auto 0 auto;
}

.mobile-menu-wrapper .login-logout > div a {
	color: #999999;
}