<?xml version="1.0"?>
<config>
	<id>theme gallery-4</div>
	<type>theme</type>
	<view>pc,mobile</view>
	<name>
		<en>Gallery Theme No. 4 (Git version)</en>
		<ko>Gallery Theme No. 4 (Git version)</ko>
	</name>
	<demo></demo>
	<version>0.1</version>
	<short>
		<en></en>
		<ko></ko>
	</short>
	<detail>
		<en></en>
		<ko></ko>
	</detail>
	<menu>
		<top>
			<name>
				<en>Menu Top</en>
				<ko>상단 톱 메뉴</ko>
			</name>
			<max>3</max>
		</top>
		<left>
			<name>
				<en>Gallery Posts</en>
				<ko>왼쪽 메뉴</ko>
			</name>
			<max>10</max>
		</left>
		<right>
			<name>
				<en>Category Posts</en>
				<ko>오른쪽 메뉴</ko>
			</name>
			<max>9</max>
		</right>
		<bottom>
			<name>
				<en>Menu Bottom</en>
				<ko>하단 메뉴</ko>
			</name>
			<max>7</max>
		</bottom>
	</menu>
</config>